@using App.Domain.Core.hw15.Card.Entity
@model Card


<div class="container px-5 my-5">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    <form method="post" asp-action="ChangPass">




        <div class="form-floating mb-3">
            <input class="form-control" name="cardNumber" type="text" placeholder="cardNumber" data-sb-validations="required" value="@Model.CardNumber" readonly />
            <label for="cardNumber">شماره کارت</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="oldPass" type="text" placeholder="oldPass" data-sb-validations="required"  />
            <label for="oldPass">رمز قدیمی</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" name="newPass" type="text" placeholder="newPass" data-sb-validations="required" />
            <label for="newPass">رمز جدید</label>
        </div>
       

        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
